
API/bin/Debug/netcoreapp3.1/API.dll
API/bin/Debug/netcoreapp3.1/API.pdb
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
/.vs/GAPI/v16/Server/sqlite3
/API/logs
/API/bin/Debug/netcoreapp3.1
/API/obj/Debug/netcoreapp3.1
API/bin/Debug/netcoreapp3.1/API.deps.json
API/bin/Debug/netcoreapp3.1/appsettings.json
API/obj/API.csproj.nuget.cache
API/obj/API.csproj.nuget.dgspec.json
API/obj/API.csproj.nuget.g.props
API/obj/project.assets.json
API/obj/Debug/netcoreapp3.1/API.assets.cache
API/obj/Debug/netcoreapp3.1/API.csproj.FileListAbsolute.txt
API/obj/Debug/netcoreapp3.1/API.csprojAssemblyReference.cache
API/obj/Debug/netcoreapp3.1/API.dll
API/obj/Debug/netcoreapp3.1/API.pdb
